/* Big tablet to 1200px (widths smaller than 1140px row) */
@media only screen and (max-width: 1200px) {
    
    h1 {
        font-size: 4rem;
    }
    
    h2 {
        font-size: 2.5rem;
    }
    
    h3 {
        font-size: 2.4rem;    
    }
    
    .profilepic {
    width: 60%;
    }
    
    .project_pic {
        width: 70%;
    }
  
    .nav-buttons {
        font-size: 1.75rem;
        margin: 1rem 3rem;
        padding: 5px 20px;
    }
    
    .quote {       
        font-size: 2rem;
    }
    
    .aboutme_text {
        font-size: 1.25rem;
    }
}



/* Small tablet to big tablet: from 768 to 1023px */
@media only screen and (max-width: 1023px) {
    
    .nav-buttons {
        margin: 20px 50px 20px 50px;
    }
    
}

/* Small phones to small tablets: from 481 to 767px */
@media only screen and (max-width: 767px) {
    
    .nav-buttons {
    margin: 20px 50px 20px 50px;
    }
    
    
    /* Technologies */  
    .tech-logo_icon img{
        padding: 0;
    }

    
    /* About Me */    
    .wrapper {
        display: block;
    }

    .profilepic {
        width: 40%;
    }
    
    .aboutme_text {
        font-size: 90%;
    }
    
    /* Contact Info */    
    .contact-info {
        padding: 10px;
    }
    
    
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    
    h1, .myname {
        font-size: 200%;
    }

    h2, .my title {
        font-size: 100%;
    }
    
    
    /* nav buttons */

    .nav-buttons {
        margin: .5rem;
        font-size: 50%;
    }
    
    /* quote */
    .quote {
    padding: 25px 40px;
    font-size: 90%;
    }
    
    /* about me*/
    .aboutme_text {
        font-size: 90%;
    }
}

/* Smaller phones: from 0 to 360px */
@media only screen and (max-width: 411px) {
    
    br {
        display: static;
    }
    
    .projects__auto-shop img{
        width: 85%;
        height: 85%;
    }
        
    h3 {
        font-size: 1.2rem;
        margin: 0 0 10px 0; 
    }
    
    figcaption {
        font-size: 1rem;
    }
    
    .icon-contact {
        font-size: 2rem;
    }
    
}
